# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Ignore Model Files to avoid GitHub 100MB limit error
Models/
*.pkl
*.h5
*.pt